---
layout: fi
title: TKrekryn uusi versio julkaistu 23.08.2014 - Ajankohtaista
description: TKrekryn uusi versio julkaistiin 23.08.2014 lauantaina. Sivuston ulkoasu, sisällöt ja työpaikkailmoitusten julkaisu uudistuivat.
keywords: terveyskeskus, lääkäri, hammaslääkäri, tkrekry, julkaisu
counterPart: /sv/index.html
language: fi
---

h1 TKrekryn uusi versio julkaistiin 23.08.2014

p TKrekryn uusi versio julkaistiin 23.8. lauantaina. Terveyskeskusten käyttäjätunnukset vaihtuvat ks. alla!

h2 Terveyskeskusten kirjautuminen ja käyttäjätunnukset

p Kirjautuminen uuden sivuston työpaikkailmoitusten julkaisuun ja ylläpitoon tapahtuu osoitteessa <a href=#{site.admin_url}>#{site.admin_url}</a>.

p Uudella sivustolla käyttäjätunnukset ovat henkilökohtaisia ja terveyskeskuksella voi tarvittaessa olla useita henkilöitä käyttäjinä. Käyttäjätunnukset luotiin julkaisun yhteydessä niille sähköpostiosoitteille, jotka olivat 20.8. tallennettuna vanhan sivuston käyttäjien tietoihin.

p Tarkemmat ohjeet tunnusten vaihtumisesta ja kirjautumisesta on toimitettu terveyskeskuksille sähköpostilla. Jos kirjautuminen uudelle sivustolle ei jostain syystä onnistu tai muuten tarvitset ohjeita / apua, niin ota sähköpostilla yhteyttä osoitteeseen <a href="mailto:info@tkrekry.fi">info@tkrekry.fi</a>

h2 Terveyskeskusten uudet esittelysivut ja muuta uutta

p Jokaisella <a href="/terveyskeskukset.html">terveyskeskuksella on uudella sivustolla oma esittelysivu</a>, jolla listataan terveyskeskuksen rekrytointiyhteyshenkilöt ja toimipisteet. Tämän lisäksi terveyskeskus voi laatia sivulleen yleisen esittelytekstin ja kuvauksen lääkäreiden erityis- ja erikoistumiskoulutukseen liittyvästä toiminnasta. Kuten ennenkin, niin kukin terveyskeskus vastaa itse TKrekryssä olevien tietojensa ajantasaisuudesta ja oikeellisuudesta.

p Esittelysivujen lisäksi sivuston ulkoasu sekä sisällöt muuttuivat. Uudistettu sivusto on paremmin käytettävissä mobiililaitteilla ja tableteilla ja informaatiosisältöjä on tiivistetty aikaisempaan verrattuna. ERVA-alueiden sivut poistuivat kokonaan.

p Sivuston ylläpitoon, sisältöön, kehitysehdotuksiin ja muuhun palautteeseen liittyvissä asioissa ota yhteyttä sähköpostilla: <a href="mailto:info@tkrekry.fi">info@tkrekry.fi</a>. Vaihtoehtoisesti voit jättää kehitysehdotuksesi nimettömänä <a class="popup" target="_blank" href="https://docs.google.com/forms/d/19z6cLV8PtCBRz85DYCrxC-mtpidWxm_s2bVsbO0Td2I/viewform?usp=send_form">palautelomakkeella&nbsp;&rsaquo;</a>

h2 Uudistusprojektista

p TKrekryn käyttäminen on terveyskeskuksille ilmaista ja toivomme ainoastaan, että terveyskeskukset linkittäisivät sivustoiltaan takaisin TKrekryyn sen näkyvyyden kasvattamiseksi.

p TKrekryyn tehtiin vuonna 2013 yli 44000 vierailua ja työpaikkailmoituksia luettiin yli 10000 kertaa. Ilmoituksia luetaan keskimäärin yli 850 kertaa kuukaudessa. Sivustolla on julkaistu yli 2200 työpaikkailmoitusta sen perustamisesta lähtien.

p TKrekryn uuden version toteutus alkoi keväällä 2014 ja sitä valmisteltiin tekemällä käyttäjätutkimus ja määrittely 2013. Uusi sivusto on ollut kommentoitavana osoitteessa kesäkuun alusta lähtien, jolloin myös uuden sivuston työpaikkailmoitusten julkaisua ja ylläpitoa käytettävyystestattiin. Käytettävyystestien perusteella löydettiin joitakin parannusehdotuksia sovelluksen toimintaan ja ne toteutettiin muun kehityksen ohella kesän aikana.

p TKrekry on <a href="http://www.pshp.fi/">Pirkanmaan sairaanhoitopiirin</a> kehittämä ja ylläpitämä sivusto.