div(class="teaser", id="news")
  h2 Ajankohtaista - TKrekry uudistui
  p TKrekryn uusi versio julkaistiin 23.08.2014, jolloin myös käyttäjätunnukset vaihtuivat. Lisää tietoa uudistuksesta <a href="/ajankohtaista/tkrekyn-uusi-version-julkaistu-23082014.html">terveyskeskuksille löytyy tiedotteesta</a>. Voit jättää palautetta uudistuksesta:
  p
    a(href="mailto:info@tkrekry.fi", class="button")
      i.fa.fa-envelope
      span info@tkrekry.fi
    span tai
    a(href="https://docs.google.com/forms/d/19z6cLV8PtCBRz85DYCrxC-mtpidWxm_s2bVsbO0Td2I/viewform?usp=send_form", class="button popup", target="_blank")
      i.fa.fa-pencil-square-o
      span Palautelomake&nbsp;&rsaquo;
  p Sivuston kehityksen taustoista ja vaiheista voit <a href="http://tkrekry.wordpress.com">lukea lisää blogissa&nbsp;&rsaquo;</a>